/* --- General --- */

main {
  padding: 20px 0;
}

section {
  margin-bottom: 50px;
}

h1, h2, h3 {
  font-family: Helvetica;
  text-align: center;
  border: 5px;
}

h1 {
  margin: 0 0 30px 10px;
}

h2 {
  margin: 0 10px;
  border-bottom: 1px solid gray;
}

h3 {
  margin: 12px 0;
  border-bottom: 1px solid lightgray;
}

p, div {
  font-family: Helvetica;
}

/* --- Groups & Items (flexbox --- */

.group {
  display: flex;
  flex-direction: row; /* or column */
  justify-content: space-between; /* sets even space side around elements will always be even [optional] */
}


.item {
    text-align: center;
    border: 2px red solid;
    padding: 5px;
    flex: 1;
    margin: 10px;
}

.item-double{
  flex:2;
}

.item-triple{
  flex:3;
}
